body{
margin:0;
		color:white;

	/*background-image:url("C:\Program Files\EasyPHP-12.1\www\goldx\img\oie.png");
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;background-size: cover;"
*//*
background-image:url("..\\img\\oie.png");
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;background-size: cover;"
*/
background-color:rgba(31,27,27,.9);
}


#logo{
  
  display: block;
   margin-left: auto;
   margin-right: auto;
	height:50px;
	width:auto;
  float: right; 
  margin: 0px 15px 15px 0px;
  
}


#exitbutton{
	height:20px;
	size:auto;
}

#inputfeedback{
	height:17px;
	font-size:15px;
	position:block;
	
}


#footerd{
	position:relative;
}

#footerdados
{
position:absolute;
bottom:8px;
font-size:11px;
font-weight:bold;
size:auto;
right:16px;
}


#menu{
	width:100px;
	float:left; 
	
}
#menu ul{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
float:left;

}
#menu ul li{
	display:inline;
float:left;
font:16px system;
}

#menu ul li:hover{ 
//background:#eee;
	background:rgba(240,255,255.2)
}


#menu ul li a{ 
    padding: 2px 1px;
display:inline-block;
	text-decoration:none;
	color:white;
}

